page-companycoupons {
    .scroll-content{
        margin-top: 125px !important;
    }
    .title-white {
        background-color: white;
        display: block;
        padding: 10px 9px;
        color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 21px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        div{
            display: flex;
            align-items: center;
        }
        ion-icon{
            font-size: 26px;
            font-weight: bold;
            margin-right: 15px;
        }
    }
    .input_form {
        padding: 0 5vw;
        margin-top: 55px;
    }
}