follower-modal {
     //   modal content scss
     // .modal_content_01{
     //      width: 256px;
     //      height: 356px;
     //      margin: 0 auto;
     //      margin-top: 163px;
     //      background: #000;
     //      border: 3px solid #f6a358;
     // }
     .modal_content_01{
          background: #000;
     }
     .modal_content_01 p{
          color: white;
     }
     .modal_content_01 button{
          background-color: #eca731;
          border-radius: 3px;
          color: white;
          padding: 7px 24px !important;
          font-family: sans-serif;
          font-weight: 700;
          margin-top: 12px;
          text-transform: unset;
     }

     .modal_title_01{
          margin-top: 20px;
          margin-left:39%;
     }

     .modal_title_01 .toolbar-title{
          color: black !important;
     }
     // .modal_title_01 .toolbar-md{
     //      min-height: 78px;
     // }
}
